package ${package}.mapper;

import ${package}.core.entity.${className};

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {
	
}