package ${package}.service;

import ${package}.core.entity.${className};

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface I${className}Service extends IBaseService<${className}>{
	
	/**
	 * 启用
	 *  
	 * @author ${author}
	 * @since ${datetime}
	 * @param id
	 */
	void enable(int id);

	/**
	 * 禁用
	 *  
	 * @author ${author}
	 * @since ${datetime}
	 * @param id
	 */
	void disable(int id);
}
